body {
    font-family: optima,'Times New Roman', Times, serif;
    margin-left: 200px;
    margin-right:200px;
    background-image:url("images/plant-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
    background-size: cover;
}

.me {
    width: 400px;
    background-size: 100%;
    float: center;
}

p {
    text-align: left;
}